@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@theme {
  --shadow-c1: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  --shadow-c2: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  --shadow-c3: rgba(0, 0, 0, 0.1) 0px 10px 50px;

  /* Background */

  --color-background: #f5f5f0;
  --color-surface: #edede8;
  --color-muted: #fafaf5;
  --color-overlay: #ffffff;

  /* Border */
  --color-border-focus: rgba(0, 0, 0, 0.06);
  --color-border-muted: rgba(0, 0, 0, 0.02);

  /* Accent */
  --color-accent: #5865f2;

  /* Foreground */

  --color-foreground: rgba(28, 24, 24, 0.6);
  --color-foreground-muted: rgba(28, 24, 24, 0.2);

  --color-foreground-base: #eeffff;

  /* Actions */
  --color-destructive: #ed4245;
}

@layer base {
  [data-theme='dark'] {
    --color-background: #363636;
    --color-foreground: #ffffff;

    --color-primary: #1e1f22;
    --color-primary-foreground: #ffffff;

    --color-secondary: #5865f2;
    --color-secondary-foreground: #ffffff;

    --color-muted: #313338;
    --color-muted-foreground: #b5bac1;

    --color-destructive: #f23f42;
    --color-destructive-foreground: #ffffff;

    --color-border: #4e5058;
  }

  [data-theme='ash'] {
    --color-background: #36393f;
    --color-foreground: #dcddde;

    --color-primary: #2f3136;
    --color-primary-foreground: #dcddde;

    --color-secondary: #7289da;
    --color-secondary-foreground: #dcddde;

    --color-muted: #484b51;
    --color-muted-foreground: #72767d;

    --color-destructive: #f04747;
    --color-destructive-foreground: #dcddde;

    --color-border: #72767d;
  }

  [data-theme='light'] {
    --color-background: #ffffff;
    --color-foreground: #2e3338;

    --color-primary: #f2f3f5;
    --color-primary-foreground: #2e3338;

    --color-secondary: #5865f2;
    --color-secondary-foreground: #ffffff;

    --color-muted: #e3e5e8;
    --color-muted-foreground: #747f8d;

    --color-destructive: #ed4245;
    --color-destructive-foreground: #ffffff;

    --color-border: #d1d5db;
  }
}

@layer base {
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    background: transparent;
    text-decoration: none;
  }

  body {
    font-family:
      -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
      'Helvetica Neue', Arial, sans-serif;
    line-height: 1.5;
    background-color: var(--color-surface) !important;
    color: var(--color-foreground);
    padding: 8px !important;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }

  #root {
    width: 100%;
  }
}

@supports (scrollbar-color: auto) {
  /* Apply styles to the HTML element */
  html {
    scrollbar-color: unset; /* Reset default scrollbar color */
  }

  /* Define scrollbar width and track styles */
  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Define scrollbar thumb styles */
  ::-webkit-scrollbar-thumb {
    border-radius: 9999px; /* Rounded corners for thumb */
    background: #c8c8c9; /* Default background color */
  }

  /* Hover state for scrollbar thumb */
  ::-webkit-scrollbar-thumb:hover {
    background: #9b87f5; /* Hover background color */
  }
}

@layer components {
  .section-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 48px;
    min-height: 48px;
    padding-inline: 16px;
  }

 
}
